@model Realestate

<div class="container">
    <h2>Register your new property here :) !</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"></label><span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location"></label><span class="text-danger">*</span>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type"></label><span class="text-danger">*</span>
            <select asp-for="Type" class="form-control">
                <option value="Apartment">Apartment</option>
                <option value="House">House</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label><span class="text-danger">*</span>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Persons"></label>
            <input asp-for="Persons" class="form-control" />
            <span asp-validation-for="Persons" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bathrooms"></label>
            <input asp-for="Bathrooms" class="form-control" />
            <span asp-validation-for="Bathrooms" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="imageurl" />

        <div class="form-group m-4">
        <label asp-for="imageurl" class="form-label" style="width: 100%;">Upload image</label>
        <input type="file" asp-for="imageurl" name="file" id="file" accept=".jpg, .jpeg, .png" required />
        <span asp-validation-for="imageurl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="ApplicationUser" asp-action="ListRealestateByOwner" class="btn btn-secondary">Cancel</a>
    </form>
</div>
