@model RealestateListViewModel

<div class="container">
    <h2 class="generalheader">Check out our Houses!</h2>
    <p class="mb-2">We have multiple options here, both houses with pool, in the city and outside.</p>
    <div class="d-flex mb-2">
        <div class="pb-2 pl-0">

            <div class="d-grid gap-2 d-md-block">

                <a class="show btn btn-md" asp-controller="Realestate" asp-action="GeneralGrid">All Realestates</a>

                <a class="show btn btn-md" asp-controller="Realestate" asp-action="ApartmentGrid">Apartments</a>

                <a class="show btn btn-md active" asp-controller="Realestate" asp-action="HouseGrid">Houses</a>



            </div>

        </div>

        <div class="ms-auto pb-2 pr-0">


            <div class="d-grid gap-2 d-md-block">
                <a class="view btn btn-sm active" asp-controller="Realestate" asp-action="HouseGrid"><img src="/img/icons/grid.svg" alt="Grid" width="25" height="25"></a>
                <a class="view btn btn-sm" asp-controller="Realestate" asp-action="HouseTable"><img src="/img/icons/list.svg" alt="List" width="25" height="25"></a>

            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-5">
        @foreach (var realestate in Model.realestates)
        {
            <partial name="_Gridlayout" model="realestate" />
        }
    </div>

    <div class=" d-flex justify-content-end mt-4">
        <a class="btn btn-secondary"
           asp-controller="Realestate"
           asp-action="Create">Register your place here!</a>
    </div>
</div>
<partial name="_footerdiv" />
