<div class="container">
    <h1 class="text-center">Welcome to management, Admin </h1>

    <div class="d-flex flex-md-column align-items-center m-5">
        <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="Admin" asp-action="ListAllUsers">All existing users</a>
        <a class="btn btn-lg btn-outline-primary mt-3" asp-area="" asp-controller="Admin" asp-action="ListAllRealestates">All existing apartments</a>
    </div>

</div>

<partial name="_footerdiv" />
