@model RealestateListViewModel

<div class="container">
    <h1 class="generalheader">List of all real-estates </h1>
    <div class="d-flex mb-2">
        <div class="pb-2 pl-0">

            <div class="d-grid gap-2 d-md-block">

                <a class="show btn btn-md active" asp-controller="Realestate" asp-action="GeneralGrid">All Realestates</a>

                <a class="show btn btn-md" asp-controller="Realestate" asp-action="ApartmentGrid">Apartments</a>

                <a class="show btn btn-md" asp-controller="Realestate" asp-action="HouseGrid">Houses</a>



            </div>

        </div>

        <div class="ms-auto pb-2 pr-0">


            <div class="d-grid gap-2 d-md-block">
                <a class="view btn btn-sm " asp-controller="Realestate" asp-action="GeneralGrid"><img src="/img/icons/grid.svg" alt="Grid" width="25" height="25"></a>
                <a class="view btn btn-sm active" asp-controller="Realestate" asp-action="GeneralTable"><img src="/img/icons/list.svg" alt="List" width="25" height="25"></a>
            </div>
        </div>
    </div>

    <partial name="_TableLayout" model="Model.realestates" />
</div>

<partial name="_footerdiv" />
