@model IEnumerable<ApplicationUser>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>UserID</th>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Username</th>
            <th>Manage</th>
            
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.UserName</td>
                <td>
                    <a class="btn btn-primary">Update</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
