@model Realestate

<div class="container">
    <h2>Update realestate</h2>
    <!-- Create a form to update details to real estate-->
    <form asp-action="UpdateRealEstate">
        <input type="hidden" asp-for="RealestateId" />
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="Name"></label><span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location"></label><span class="text-danger">*</span>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type"></label><span class="text-danger">*</span>
            <select asp-for="Type" class="form-control">
                <option value="Apartment">Apartment</option>
                <option value="House">House</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label><span class="text-danger">*</span>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Persons"></label><span class="text-danger">*</span>
            <input asp-for="Persons" class="form-control" />
            <span asp-validation-for="Persons" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bathrooms"></label><span class="text-danger">*</span>
            <input asp-for="Bathrooms" class="form-control" />
            <span asp-validation-for="Bathrooms" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label><span class="text-danger">*</span>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- We hide this part because it belongs to the "back-end" work -->
        <input type="hidden" asp-for="imageurl" />
        <input type="hidden" asp-for="imagefile" />

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-controller="Admin" asp-action="ListAllRealestates" class="btn btn-secondary">Cancel</a>
    </form>

</div>

<partial name="_footerdiv" />

