<!-- partial view for footer-->


<div class="footerparentcontainer">
    <div class="container footercontainer">

        <div class="d-flex flex-wrap justify-content-between p-3">
            <div class="d-flex justify-content-start">
                <!---->
                <div class="fcontent me-5">
                    <!--Contact us-->
                    <h4>Support</h4>
                    <p>Contact us</p>
                    <p>Cover Information</p>
                    <p>Customer Service</p>
                    <p>Cancellation options</p>
                    <p>Refunds</p>
                    <p>FAQ</p>
                    <p>Renting Guides</p>
                    <p>Cookie Settings</p>
                </div>

                <div class="fcontent ms-5 me-5">
                    <!--Hosting service-->
                    <h4>Hosting</h4>
                    <p>Rent out your real estate</p>
                    <p>Hosting Resources</p>
                    <p>Hosting Responsibility</p>
                    <p>Student Discount</p>
                    <p>Bolig Care</p>
                    <p>Sustainability</p>


                </div>

                <div class="fcontent ms-5">
                    <!--About Bolig-->
                    <h4>Bolig</h4>
                    <p>Student Discount</p>
                    <p>Careers</p>
                    <p>About Bolig</p>
                    <p>Press</p>
                    <p>Facebook</p>
                    <p>Pinterest</p>
                    <p>Instagram</p>
                    <p>Linkedin</p>

                </div>
            </div>

            <div class="d-flex flex-column align-items-center">
                <p>Enjoy your 10% off your first booking</p>
                <a id="btn-subscribe" class="btn w-100 mb-5">Subcribe</a>
            </div>
        </div>


    </div>
</div>