@model PropertyListViewModel


<h2>Find a place to live! We have multiple options here, both houses and apartments (@Model.CurrentViewName)</h2>

<a asp-controller="Property" asp-action="ApartmentGrid" class="btn btn-primary">Apartment</a>
<a asp-controller="Property" asp-action="HouseGrid" class="btn btn-primary">House</a>

<p class="btn btn-light">Grid layout</p>
<p class="btn btn-light">Table layout</p>
