body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 60px;
}

li, footer {
    font-size: 1rem;
}

.mainbg {
    font-size: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/main_index.jpg");
    background-size: cover;
}

.maincard {
    border: 1px solid black;
    margin: 0 4rem;
}

    


.mybutton {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.1rem;
    background-color: #FBF6EC;
    padding: 0.6rem;
    min-width: 100px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .mybutton:hover {
        background-color: #FDBB31;
        color: black;
    }

.realestatetypes {
    margin: 4rem;
}

    .realestatetypes img {
        max-width: 550px;
        max-height: 550px;
    }

    .realestatetypes > div p {
        font-size: 18px;
        line-height: 2;
        max-width: 600px;
    }

.box {
    box-shadow: -8px -10px 15px rgba(100,100,100,0.05),10px 10px 15px rgba(50, 50, 50,0.12);
}

    .box:hover {
        transform: translateY(-10px);
        box-shadow: -8px -8px 15px rgba(100,100,100,0.05),10px 10px 15px rgba(50, 50, 50,0.12);
    }
