@model RealestateListViewModel

<div class="container">
    <h2 class="generalheader">List of all your real-estates:</h2>
    <partial name="_TableLayout" model="Model.realestates" />
</div>

<partial name="_footerdiv" />
